@model List<SelectListItem>

@{
    ViewData["Title"] = "Randevu Al";
}

@using (Html.BeginForm("RandevuAl", "Home", FormMethod.Post))
{
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form>
                <div class="mb-3">
                    <label for="poliklinik" class="form-label">Poliklinik Seç</label>
                    @Html.DropDownList("id", Model, "-- Seçiniz --", new { @class = "form-control" })
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Seç</button>
                </div>
            </form>
        </div>
    </div>
}


@if (ViewBag.Doktorlar != null && ViewBag.Doktorlar.Count > 0)
{
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3>Doktorlar</h3>
            @foreach (var doktor in ViewBag.Doktorlar)
            {
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">@doktor.Text</h5>
                        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="DoktorSec" asp-route-id="@doktor.Value">Seç</a>
                    </div>
                </div>
            }
        </div>
    </div>
 }

